a {
    text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

h1 {
	text-align:center;
}   
h2 {    
	text-align:center;
}   
h3 {
	text-align:center;
}   
h4 {
	text-align:center;
}   
h5 {
	text-align:center;
}       
h6 {
	text-align:center;
}
p {
	text-align:center;
}

