body 
 {
   
 }
h1                          /* Aligns the text in the center*/
  {
    text-align:center;      /*Puts the text in the center of the screen*/
  }
  /*
button       
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;  
	color: DBDBDB;
}
*/
.klasseTestButton{
	 display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;  
	background-color: #A8A8A8
}
.klasseTestButton:hover {
  background-color: #656565;
}
.center
{
	border: 3px solid ;
	display: block;  
	margin: 1% 12%;
	height: auto;
	padding: 10px;
}
.padding
{
	 padding : 37px ;
	
}
.holdNavn
{
	font-size:30px;
	
	
}
.titler
{
	font-size:45px;
	
	
}
.widthStatus
{
	width:15%;	
	
}
.widthThingy
{
	width:10%;
	
}
label
{
	font-size: 20px;

}
table,td, tr, th{
	border: 1px solid black;
	padding: 5px;
	text-align:center; 
	border-collapse: collapse;	
}
table
{
	width:100%;
}
td,th
{
	width:20%;
}

tr:hover {background-color:#f5f5f5;}
