body 
 {
   
 }
h1                          /* Aligns the text in the center*/
  {
    text-align:center;      /*Puts the text in the center of the screen*/
  }
button       
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
